<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>News</title>
  </head>
  <body>

    <div class="container mt-5">
      <h1>News</h1>
    </div>
    <h2>
    <img src ="/news/blob/bc7c6a0d5ab9c830e5234e3759addf1b80340f2d/public/download.jpg"

<div class="list-group">
  <a href="/news" class="list-group-item list-group-item-action">Top Headline</a>
  <a href=".news" class="list-group-item list-group-item-action list-group-item-primary">
  for headline in news["articles"]
puts "Today's top story is #{news["articles"]["source"][0]["headline"]["name"]}"
<a href=".news" class="list-group-item list-group-item-action list-group-item-primary">
  for headline in news["articles"]
puts "Today's top story is #{news["articles"]["source"][1]["headline"]["name"]}"
<a href=".news" class="list-group-item list-group-item-action list-group-item-primary">
  for headline in news["articles"]
puts "Today's top story is #{news["articles"]["source"][2]["headline"]["name"]}"
</a>
</div>